{% extends 'base.html' %}
{% block content %}
<div class="container-fluid"  ng-app="myApp">

  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ng-class="(name=='images'?'active':'')"><a href="#/images">Gallery</a></li>
        <li ng-class="(name=='dashboard'?'active':'')"><a href="#/dashboard">Dashboard</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div ng-view></div>
    </div>
  </div>
</div>
{% endblock %}
