 <script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
	<div class="btn-group-sm pull-right">
	<button type="button" class="btn btn-sm" ng-click="close()"><span class="glyphicon glyphicon-minus"></span></button>
	</div>
    <h4>{{ imageMeta.uploadDate | date: 'medium' }}</h4>

  </div>
  <div class="modal-body">
		<img class='img-responsive' alt='{{ imageMeta.metadata.main_id }}' ng-src='/api/images/{{ imageMeta.metadata.main_id }}' />
		<h4>{{ imageMeta.uploadDate | date: 'medium' }}</h4>
		<span class="text-muted">{{ imageMeta._id }} - Starred: {{ imageMeta.metadata.starred }} - Seen: {{ imageMeta.metadata.starred }}</span>
  </div>
  <div class="modal-footer">
		<div class="btn-group-sm pull-right">
			<button type="button" class="btn btn-sm" ng-click="star(imageMeta._id)"><span class="glyphicon glyphicon-star"></span></button>
			<button type="button" class="btn btn-sm" ng-click="remove(imageMeta,$index)"><span class="glyphicon glyphicon-trash"></span></button>
			<button type="button" class="btn btn-sm" ng-click="close()"><span class="glyphicon glyphicon-minus"></span></button>
		</div>
  </div>
</script>
<h1 class="page-header">Gallery</h1>
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="input-group input-group-sm">
				  <span class="input-group-addon">
					  <i class="glyphicon glyphicon-search"></i>
				  </span>
				  <input type="text" ng-model="image_search" class="form-control" placeholder="Search Posts">
				</div>
			</div>
			<div class="col-md-3 col-sm-4">
				<div class="dropdown">
					<a class="dropdown-toggle my-toggle-select" id="select-from" role="button" data-toggle="dropdown" >
						<div class="input-group input-group-sm">
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							<input type="datetime" class="form-control" value="{{ from | date:'HH:mm:ss dd/MM/yyyy' }}" placeholder="From" readonly>
						</div>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<datetimepicker data-ng-model="from" on-set-time="onTimeSet" data-datetimepicker-config="{ dropdownSelector: '#select-from' }"></datetimepicker>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-4">
				<div class="dropdown">
					<a class="dropdown-toggle my-toggle-select" id="select-to" role="button" data-toggle="dropdown" >
						<div class="input-group input-group-sm">
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							<input type="datetime" class="form-control" value="{{ to | date:'HH:mm:ss dd/MM/yyyy' }}" placeholder="To" readonly>
						</div>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<datetimepicker data-ng-model="to" on-set-time="onTimeSet" data-datetimepicker-config="{ dropdownSelector: '#select-to' }"></datetimepicker>
					</ul>
				</div>
			</div>
			<div class="col-md-2 col-sm-3">
				<select class="form-control input-sm" id="action-choice" ng-model="preset" ng-change="setPeriod()" ng-options="preset.name for preset in presets">
						<option value="">-Choose Preset-</option>
				</select>
			</div>
			<div class="col-md-1 col-sm-1">
					<a type="button" href="" class="btn btn-primary btn-sm pull-right" ng-click="refresh()">Go!</a>
			</div>
    </div>
<h2 class="sub-header">Images</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="imageMeta in imagesMeta" >
			<div class="img-overlay">
      	<img style="width:100%;" alt='{{ imageMeta._id }}' ng-src='/api/images/thumbnails/{{ imageMeta._id }}'/>
				<div class="project-overlay btn-group-xs pull-right">
					<button type="button" class="btn btn-xs" ng-click="star(imageMeta._id)"><span class="glyphicon glyphicon-star"></span></button>
					<button type="button" class="btn btn-xs" ng-click="remove(imageMeta,$index)"><span class="glyphicon glyphicon-trash"></span></button>
					<button type="button" class="btn btn-xs" ng-click="view(imageMeta)"><span class="glyphicon glyphicon-fullscreen"></span></button>
				</div>
			</div>
			<div>
	      <h4>{{ imageMeta.uploadDate | date: 'medium' }}</h4>
	      <span class="text-muted">{{ imageMeta.length }} Bytes - Star: {{ imageMeta.metadata.starred }} - Seen: {{ imageMeta.metadata.starred }}</span>
			</div>
    </div>
  </div>
